header {
    width: auto;
    height: 59px;
    background-color: #141414;
    display: flex;
}
header > div {
    margin: auto;
}

section {
    color: white;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
h1{
    margin-bottom: 10px;
    font-size: 45px;
}
h3{
    margin-bottom: 10px;
    font-size: 35px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

button {
    height: 52px;
    background-color: #141414;
    border: 0px;
    color: #FFF;
    padding: 15px;
    margin: 0px;
}

button:hover {
    color: #EEC643;
    cursor: pointer;
}
.curso{
    height: 200px;
    width: 200px;
    text-align: center;
    margin-top: 40px;
}


body {
    background-color: #EEF0F2;
    background-image : url(/SiteTRAB/IMAGEM/2.png)
    
}

.imagem {
    height: 25vh;
    width: 25vh;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    gap: 40px;
}
main > div {
    margin: 15px;
}
main > div:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.opcoes {
    position: relative;
    top: -18px;
    z-index: 1;
    background-color: #141414;
    color: #FFF;
    padding: 5px;
}
.linha {
    width: 108px;
    margin: 5px 0px;
    border-top: solid 1px #FFF;
}

.icone {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 30px;
    top: 10px;
}

.contact {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}